@import "../assets/scss/mixins";

:host {
    .home-link-position {
        position: absolute;
        z-index: 9999;
        left: 0;
        top: 0;

        .home-link-container {
            padding: 10px;
            position: relative;
        }

        &.on-home-page {
            display: none;
        }

        @include phone() {
            &.on-home-page {
                display: block;
            }
        }
    }
}