@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

:host {
    .content {
        @include flex-display();
        @include justify-content(center);
        padding-bottom: 30px;

        .container {
            margin-top: 50px;
            width: 800px;
            max-width: 100%;
            padding: 0px 30px;
        }
    }
}