@import "../../../../../assets/scss/mixins";

:host {
    @include flex-display();
    @include justify-content(center);

    .container {
        width: 1000px;

        .button-container {
            @include flex-display();
            @include justify-content(flex-end);
            margin-top: 50px;

            button {
                &:not(:first-child) {
                    margin-left: 5px;
                }
            }
        }
    }
}