<div class="core-tag-selector">
  <tag-input
    [(ngModel)]="tagInput_tags"
    [onAdding]="tagInput_addHash"
    [onTextChangeDebounce]="0"
    [secondaryPlaceholder]="secondaryPlaceholder"
    (onAdd)="tagInput_updated()"
    (onRemove)="tagInput_updated()"
    (onFocus)="tagInput_focusUpdated(true)"
    (onBlur)="tagInput_focusUpdated(false)"
    (onTextChange)="tagInput_currentText = $event">
    <tag-input-dropdown
      [autocompleteObservable]="tagInput_getSuggestions"
      [appendToBody]="false">
    </tag-input-dropdown>
  </tag-input>
  <!--
    Investigate:
      - [separatorKeyCodes]="[13,32]"
        - Swallows keyboard event, and breaks enter to submit
    -->
</div>