@import "~ngx-chips/dist/modules/core/styles/core/_core.scss";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.core-tag-selector {

    /deep/ tag-input {
        
        tag-input-form form input {
            @include font-family-default();
            padding: 0;
            padding-top: 3px;

            @include placeholder() {
                @include font-family-default();
                color: $placeholder-color;
            }
        }

        tag {
            @include font-family-default();
            line-height: 39px;

            &:not(.readonly):not(.tag--editing) {
                &:active,
                &:focus {
                    background-color: $primary-color
                }
            }

            delete-icon {
                margin-top: -4px;

                &:hover {
                    transform: scale(1.5) translateY(-5px);
                }
            }
        }

        .progress-bar {
            display: none;
        }

        tag-input-dropdown {
            .ng2-dropdown-menu {
                min-width: 300px;

                .dropdown-item-container {
                    .dropdown-item {
                        @include flex-display();

                        .text {
                            @include flex(1);
                        }

                        .usage-count {
                            font-size: 0.7em;
                            color: $muted-color;
                        }
                    }
                }
            }
        }
    }
}