<div class="tag-selector-container">
  <core-tag-selector
      [secondaryPlaceholder]="'Tags'"
      (onTagsUpdated)="updateTags($event)">
  </core-tag-selector>
</div>

<md-table #table [dataSource]="dataSource">

  <ng-container cdkColumnDef="title">
    <md-header-cell *cdkHeaderCellDef>Title</md-header-cell>
    <md-cell *cdkCellDef="let fact">{{ fact.title }}</md-cell>
  </ng-container>

  <!-- <ng-container cdkColumnDef="definition">
    <md-header-cell *cdkHeaderCellDef>Definition</md-header-cell>
    <md-cell *cdkCellDef="let fact">
      <div class="definition-text">
        {{ fact.definition }}
      </div>
    </md-cell>
  </ng-container> -->

  <ng-container cdkColumnDef="tags">
    <md-header-cell *cdkHeaderCellDef>Tags</md-header-cell>
    <md-cell *cdkCellDef="let fact">{{ fact.tags.join(', ') }}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="controls">
    <md-header-cell *cdkHeaderCellDef></md-header-cell>
    <md-cell *cdkCellDef="let fact" class="controls">
      <md-icon (click)="editFact(fact)">mode_edit</md-icon>
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let fact; columns: displayedColumns;"></md-row>
</md-table>

<div class="paginator-container" [style.visibility]="{ 'hidden': factCount < 0, 'visible': factCount >= 0 }">
  <md-paginator 
    #paginator
    [length]="factCount"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 100]">
  </md-paginator>
</div>