@import "../../../../assets/scss/mixins";

:host {
    .source-form-group {

        .source-form-control {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }

        .type {
            md-select {
                @include font-family-default();
                width: 50%;
            }
        }

        .apa-type {
            md-select {
                @include font-family-default();
                width: 50%;
            }
        }

        .title {
            md-input-container {
                width: 100%;
            }
        }

        .authors {
            display: flex;
            flex-wrap: wrap;
            
            .author {
                width: 30%;
                padding-right: 5%;

                md-input-container {
                    width: 100%;
                }

                &:nth-child(3) {
                    padding-right: 0px;
                }
            }
        }

        .date {
            core-source-date {
                width: 100%;
            }
        }

        .doi {
            md-input-container {
                width: 50%;
            }
        }
    
        .description {
            md-input-container {
                width: 100%;
            }
        }
    
        .url {
            md-input-container {
                width: 50%;
            }
        }

        .fact-id {
            md-input-container {
                width: 50%;
            }
        }
    }
}