<div class="source-form-group" [formGroup]="sourceFormGroup">
  <div class="source-form-control type">
    <md-select formControlName="type" floatPlaceholder="never">
      <md-option [value]="3">Citation Needed</md-option>
      <md-option [value]="4">APA</md-option>
      <md-option [value]="5">DOI Lookup</md-option>
      <md-option [value]="2">Nulobe</md-option>
      <md-option [value]="1">Legacy</md-option>
    </md-select>
  </div>
  <div class="source-form-control apa-type" *ngIf="hasProperty('apaType')">
    <md-select formControlName="apaType" floatPlaceholder="never">
      <md-option [value]="1">Journal Article</md-option>
      <md-option [value]="2">Book</md-option>
      <md-option [value]="3">Webpage</md-option>
      <md-option [value]="4">Newspaper</md-option>
      <md-option [value]="5">Magazine</md-option>
    </md-select>
  </div>
  <div class="source-form-control title" *ngIf="hasProperty('title')">
    <md-input-container>
      <input mdInput type="text" formControlName="title" placeholder="Title" />
    </md-input-container>
  </div>
  <div class="source-form-control authors" *ngIf="hasProperty('authors')">
    <div class="author" formArrayName="authors" *ngFor="let author of sourceAuthorsFormArray.controls; index as i;">
      <md-input-container>
        <input mdInput type="text" [id]="'author-' + i" [formControlName]="i" placeholder="Author {{ i + 1 }}" (blur)="onAuthorBlur(i)" />
      </md-input-container>
    </div>
    <div class="author">
      <md-input-container>
        <input mdInput id="newAuthor" type="text" formControlName="newAuthor" placeholder="Author {{ sourceAuthorsFormArray.controls.length + 1 }}" (blur)="onNewAuthorBlur()" />
      </md-input-container>
    </div>
  </div>
  <div class="source-form-control organisation" *ngIf="hasProperty('organisation')">
    <md-input-container>
      <input mdInput type="text" formControlName="organisation" placeholder="Organisation" />
    </md-input-container>
  </div>
  <div class="source-form-control journal" *ngIf="hasProperty('journal')">
    <core-source-journal [parentFormGroup]="sourceFormGroup" [sourceJournal]="source.journal"></core-source-journal>
  </div>
  <div class="source-form-control pages" [formGroup]="pagesFormGroup" *ngIf="hasProperty('pages')">
    <div class="page-part">
      <md-input-container>
        <input mdInput type="number" formControlName="pageStart" placeholder="Page start" />
      </md-input-container>
    </div>
    <div class="page-part">
      <md-input-container>
        <input mdInput type="number" formControlName="pageEnd" placeholder="Page end" />
      </md-input-container>
    </div>
  </div>
  <div class="source-form-control date" *ngIf="hasProperty('date')">
    <core-source-date [parentFormGroup]="sourceFormGroup" [sourceDate]="source.date"></core-source-date>
  </div>
  <div class="source-form-control description" *ngIf="hasProperty('description')">
    <md-input-container>
      <textarea mdInput formControlName="description" placeholder="Description of source {{ sourceIndex + 1 }}"></textarea>
    </md-input-container>
  </div>
  <div class="source-form-control doi" *ngIf="hasProperty('doi')">
    <md-input-container>
      <input mdInput type="text" formControlName="doi" placeholder="DOI" />
    </md-input-container>
  </div>
  <div class="source-form-control citation" *ngIf="hasProperty('citation')">
    <md-input-container>
      <textarea mdInput formControlName="citation" placeholder="Citation" rows="3"></textarea>
    </md-input-container>
  </div>
  <div class="source-form-control notes-markdown" *ngIf="hasProperty('notesMarkdown')">
    <md-input-container>
      <textarea mdInput formControlName="notesMarkdown" placeholder="Source notes" rows="5"></textarea>
    </md-input-container>
  </div>
  <div class="source-form-control url" *ngIf="hasProperty('url')">
    <md-input-container>
      <input mdInput type="url" formControlName="url" placeholder="Link to source {{ sourceIndex + 1 }}" />
    </md-input-container>
  </div>
  <div class="source-form-control fact-id" *ngIf="hasProperty('factId')">
      <md-input-container>
        <input mdInput type="factId" formControlName="factId" placeholder="Nulobe Nueron ID (GUID) for source {{ sourceIndex + 1 }}" />
      </md-input-container>
    </div>
</div>
