/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/mixins";

body {
    margin: 0;

    @include phone() {
        font-size: 0.9rem;
    }
}

.ng2-tag-input {
    border-bottom: 2px solid transparent !important;
}

button[md-button] {
    text-transform: uppercase;
}