<div class="date-form-group" [formGroup]="dateFormGroup">
  <div class="date-part">
    <md-select formControlName="year" placeholder="Year">
      <md-option [value]="null" *ngIf="yearFormControl.value !== null">(Select a year)</md-option>
      <md-option *ngFor="let year of years" [value]="year">{{ year }}</md-option>
    </md-select>
  </div>
  <div class="date-part">
    <md-select formControlName="month" placeholder="Month">
      <md-option [value]="null" *ngIf="monthFormControl.value !== null">(Select a month)</md-option>
      <md-option *ngFor="let month of months; index as i" [value]="i + 1">{{ month }}</md-option>
    </md-select>
  </div>
  <div class="date-part">
    <md-select formControlName="day" placeholder="Day">
      <md-option [value]="null" *ngIf="dayFormControl.value !== null">(Select a day)</md-option>
      <md-option *ngFor="let day of days$ | async" [value]="day">{{ day }}</md-option>
    </md-select>
  </div>
</div>