:host {
    .source {
        :not(:first-child) {
            margin-top: 30px;
        }
        
        display: flex;

        .index {
            padding-top: 32px;
            width: 50px;
        }

        .source-form-container {
            flex: 1;
        }
    }
}