@import "../../../../assets/scss/mixins";

:host {

    form {
        :not(:first-child) {
            margin-top: 30px;
        }
    }
    
    
    .title {
        md-input-container {
            width: 50%;
        }
    }

    .definition {
        md-input-container {
            width: 100%;
        }
    }

    .notes {
        md-input-container {
            width: 100%;
        }
    }

    .sources {
        
        .indexed-sources {

            .source {
                @include flex-display();

                .index {
                    padding-top: 32px;
                    width: 50px;
                }

                .source-details {
                    @include flex(1);

                    .type {
                        md-select {
                            @include font-family-default();
                            width: 50%;
                        }
                    }

                    .description {
                        md-input-container {
                            width: 100%;
                        }
                    }

                    .url {
                        md-input-container {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .country {
        md-select {
            @include font-family-default();
            width: 50%;
        }
    }
}