@import "../../../../assets/scss/mixins";

:host {
    
    .title {
        md-input-container {
            width: 50%;
        }
    }

    .definition {
        md-input-container {
            width: 100%;
        }
    }

    .notes {
        md-input-container {
            width: 100%;
        }
    }

    .sources {
        
        .indexed-sources {

            .source {
                @include flex-display();

                .index {
                    padding-top: 18px;
                    width: 50px;
                }

                .source-details {
                    @include flex(1);

                    .description {
                        md-input-container {
                            width: 100%;
                        }
                    }

                    .url {
                        md-input-container {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}