<div>
  <form [formGroup]="form">
    <div class="title">
      <md-input-container>
        <input mdInput formControlName="title" type="text" placeholder="Title" />
      </md-input-container>
    </div>
    <div class="definition">
      <md-input-container tabindex="-1">
        <textarea mdInput formControlName="definition" placeholder="Definition" rows="10" tabindex="0"></textarea>
      </md-input-container>
    </div>
    <div class="sources">
      <div class="indexed-sources">
        <div class="source" formArrayName="indexedSources" *ngFor="let indexedSourceControl of getIndexedSources().controls; let i = index;">
          <div class="index">{{ i + 1 }}.</div>
          <div class="source-details" [formGroupName]="i">
            <div class="description">
              <md-input-container>
                <textarea mdInput formControlName="description" placeholder="Description of source {{ i + 1 }}" tabindex="0"></textarea>
              </md-input-container>
            </div>
            <div class="url">
              <md-input-container>
                <input mdInput type="url" formControlName="url" placeholder="Link to source {{ i + 1 }}" />
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notes">
      <md-input-container>
        <textarea mdInput formControlName="notesMarkdown" placeholder="Notes" rows="5"></textarea>
      </md-input-container>
    </div>
    <div class="tag-selector-container">
      <core-tag-selector
          [tags]="fact.tags"
          [secondaryPlaceholder]="'Tags'"
          (onTagsUpdated)="updateTags($event)">
      </core-tag-selector>
    </div>
  </form>
</div>