<div class="app-tag-selector">
  <tag-input
    [(ngModel)]="tags"
    [onAdding]="tagInput_addHash"
    [onTextChangeDebounce]="0"
    (onAdd)="tagInput_updated()"
    (onRemove)="tagInput_updated()"
    (onFocus)="tagInput_isFocused = true"
    (onBlur)="tagInput_isFocused = false"
    (onTextChange)="tagInput_currentText = $event">
    <tag-input-dropdown
      [autocompleteObservable]="tagInput_getSuggestions">
    </tag-input-dropdown>
  </tag-input>
  <!--
    Investigate:
      - [separatorKeyCodes]="[13,32]"
        - Swallows keyboard event, and breaks enter to submit
    -->
</div>