@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

@include keyframes(app-results-spinner-fade-out) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@include keyframes(app-results-content-fade-in) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.app-results {
    position: relative;

    .spinner-container {
        position: absolute;
        width: calc(100% - 15px);
        left: 0;
        top: 0;

        .spinner {
            margin-top: 160px;

            &.fade-out {
                animation: app-results-spinner-fade-out 0.5s linear;
                animation-fill-mode: forwards;
            }
        }
    }

    .content {
        @include flex-display();
        @include justify-content(center);
        opacity: 0;

        &.fade-in {
            animation: app-results-content-fade-in 0.2s linear;
            animation-fill-mode: forwards;
            animation-delay: 0.25s;
        }

        .container {
            margin-top: 50px;
            width: 800px;

            .title {
                @include flex-display();
                @include flex-direction(column);
                @include align-items(center);
            }

            .fact-list-container {
                app-fact-list {
                    //width: 600px;
                }
            }

            .fact-list-end-container {
                margin-top: 100px;

                .fact-list-end {
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-bottom: 100px;

                    .fact-list-end-rule {
                        border-top: 1px solid $medium-lobe-color;
                    }
                }
            }
        }
    }
    
}