<div class="journal-form-group" [formGroup]="journalFormGroup">
  <div class="journal-part">
    <md-input-container>
      <input mdInput type="text" formControlName="title" placeholder="Journal title" />
    </md-input-container>
  </div>
  <div class="journal-part">
    <md-input-container>
      <input mdInput type="text" formControlName="volume" placeholder="Journal volume" />
    </md-input-container>
  </div>
  <div class="journal-part">
    <md-input-container>
      <input mdInput type="text" formControlName="issue" placeholder="Journal issue" />
    </md-input-container>
  </div>
</div>