<div>
  <div *ngFor="let fact of facts" class="fact-container">
    <core-fact-list-item
      [fact]="fact"
      [factLinkResolver]="factLinkResolver"
      [permissionsResolver]="permissionsResolver"
      (onTagClick)="tagClicked($event)"
      (onVote)="voteClicked($event)"
      (onFlag)="flagClicked($event)"
      (onLink)="linkClicked($event)"
      (onEdit)="editClicked($event)"></core-fact-list-item>
    <!--<a [routerLink]="factLinkResolver.resolve(fact)">
      <core-fact-list-item [fact]="fact"></core-fact-list-item>
    </a>-->
  </div>
</div>