<div>
  <div *ngFor="let fact of facts" class="fact-container">
    <core-fact-list-item
      [fact]="fact"
      (onTagClick)="tagClicked($event)"></core-fact-list-item>
    <!--<a [routerLink]="factLinkResolver.resolve(fact)">
      <core-fact-list-item [fact]="fact"></core-fact-list-item>
    </a>-->
    <div class="fact-controls-container">
      <div class="fact-controls">
        <div class="fact-control" (click)="voteClicked(fact)">
          <md-icon>thumb_up</md-icon>
        </div>
        <div class="fact-control" (click)="flagClicked(fact)">
          <md-icon>flag</md-icon>
        </div>
        <div class="fact-control" (click)="linkClicked(fact)">
          <md-icon>link</md-icon>
        </div>
        <div class="fact-control" *ngIf="canEdit" (click)="editClicked(fact)">
          <md-icon>mode_edit</md-icon>
        </div>
      </div>
    </div>
  </div>
</div>