<div class="app-home">
  <div class="content-container">
    <div class="content">
      <div class="brand-container">
        <img
          src="/assets/images/garlic.png"
          width="100px"
          height="100px" />
      </div>
      <div class="tag-selector-container" [ngClass]="{ 'has-tag': searchTags.length > 0 }">
        <core-tag-selector
          #tagSelector
          [secondaryPlaceholder]="placeholder"
          (onTagsUpdated)="updateTags($event)"
          (onSubmit)="search()"></core-tag-selector>
      </div>
      <button md-button (click)="search()">Search</button>
    </div>
  </div>
</div>