@import '../../../assets/scss/mixins';

.app-home {

    .content-container {
        @include flex-display();
        @include justify-content(center);
        @include align-items(center);

        @include phone() {
            margin-top: 125px;
        }

        @include tablet() {
            margin-top: 175px;
        }

        @include desktop() {
            margin-top: 250px;
        }
        

        height: 100%;

        .content {
            @include flex-display();
            @include flex-direction(column);
            @include align-items(center);
            margin-bottom: 200px;

            .tag-selector-container {
                @include flex-display();
                @include justify-content(center);
                margin-top: 50px;
                max-width: 500px;

                &.has-tag {
                    padding-left: 191px; // Same as input width in tag selector
                }

                &:not(.has-tag) { 
                    padding-left: 16px; // Input width - placeholder text length
                }
            }

            button {
                margin-top: 20px;
            }
        }
    }

    .admin-button-container {
        @include transition(opacity 0.2s ease);
        position: absolute;
        right: 15px;
        bottom: 15px;
        opacity: 0;

        &:hover {
            opacity: 1;
        }

        .admin-button {

        }
    }
}