<div class="app-home">
  <div class="content-container">
    <div class="content">
      <div class="brand-container">
        <img
          src="/assets/images/garlic.png"
          width="100px" />
      </div>
      <app-tag-selector
          (onTagsUpdated)="updateTags($event)"
          (onSubmit)="search()">
      </app-tag-selector>
      <button md-button (click)="search()">Learn</button>
    </div>
  </div>
  <div class="admin-button-container" *ngIf="authService.isAuthenticated()">
    <button md-fab class="admin-button" routerLink="admin">
      <md-icon>settings</md-icon>
    </button>
  </div>
</div>