@import '../../../assets/scss/mixins';

.app-home {
    height: 1px;
    min-height: 100vh;

    .content-container {
        @include flex-display();
        @include justify-content(center);
        @include align-items(center);
        height: 100%;

        .content {
            @include flex-display();
            @include flex-direction(column);
            @include align-items(center);
            margin-bottom: 200px;

            .brand {
                width: 100px;
                height: 100px;
                //background: url("assets/images/garlic.svg") no-repeat center;
                background-size: contain;
            }

            core-tag-selector {
                margin-top: 50px;
                width: 500px;
            }

            button {
                margin-top: 20px;
            }
        }
    }

    .admin-button-container {
        @include transition(opacity 0.2s ease);
        position: absolute;
        right: 15px;
        bottom: 15px;
        opacity: 0;

        &:hover {
            opacity: 1;
        }

        .admin-button {

        }
    }
}