@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

@include keyframes(app-results-spinner-fade-out) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@include keyframes(app-results-content-fade-in) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.app-results {
    position: relative;

    .spinner-container {
        position: absolute;
        width: calc(100% - 15px);
        left: 0;
        top: 0;

        .spinner {
            margin-top: 160px;

            &.fade-out {
                animation: app-results-spinner-fade-out 0.5s linear;
                animation-fill-mode: forwards;
            }
        }
    }

    .content {
        @include flex-display();
        @include justify-content(center);
        opacity: 0;

        &.fade-in {
            animation: app-results-content-fade-in 0.2s linear;
            animation-fill-mode: forwards;
            animation-delay: 0.25s;
        }

        .container {
            margin-top: 50px;
            width: 800px;

            .title {
                @include flex-display();
                @include flex-direction(column);
                @include align-items(center);

                .tags {
                    .tags-view-mode {
                        @include flex-display();
                        @include align-items(center);
                        margin-top: 3px;
                        margin-bottom: 10px;

                        .edit-icon {
                            color: $medium-lobe-color;
                            cursor: pointer;
                            margin-left: 5px;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }

                    .tags-edit-mode {
                        
                        &.has-tag {
                            padding-left: 184px; // Same as input width in tag selector
                        }
                        
                        &:not(.has-tag) {
                            padding-left: 70px; // Input width - placeholder text length
                        }
                    }
                }
            }

            .fact-list-container {
                core-fact-list {
                    //width: 600px;
                }
            }

            .export-button-container {
                @include flex-display();
                @include justify-content(center);
                margin-top: 100px;
                margin-bottom: 50px;
            }

            .fact-list-end-container {
                margin-top: 100px;
                visibility: hidden;

                .fact-list-end {
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-bottom: 100px;

                    .fact-list-end-rule {
                        border-top: 1px solid $medium-lobe-color;
                    }
                }
            }
        }
    }
    
}