<div>
  <h3 class="title">
    <span *ngIf="fact.titleLocalized">{{ fact.titleLocalized }}</span>
    <i *ngIf="!fact.titleLocalized">(Add a title)</i>
  </h3>
  <div class="definition">
    <markdown *ngIf="citedDefinitionMarkdown">{{ citedDefinitionMarkdown }}</markdown>
    <i *ngIf="!citedDefinitionMarkdown">(Add a definition)</i>
  </div>
  <ul class="footnotes">
    <li class="source" *ngFor="let source of citedSources; let i = index;">
      <span class="index">{{ i + 1 }}</span>
      <span *ngIf="source.type === 1">
        <span *ngIf="source.description">{{ source.description }}</span>
        <a class="url" *ngIf="source.url" href="{{ source.url }}">{{ getUrl(source.url) }}</a>
      </span>
      <span *ngIf="source.type === 2" class="fact">
        <a href="{{ factLinkResolver.resolve(source.factId) }}">{{ source.factTitle }}</a>
        <span class="logo-container"><core-logo [widthPixels]="15"></core-logo></span>
      </span>
    </li>
    <li class="notes" *ngIf="fact.notesMarkdown">
      <markdown>&#8224; {{ fact.notesMarkdown }}</markdown>
    </li>
  </ul>
  <div class="tags-list-container">
    <core-tag-list
      *ngIf="fact.tags.length"
      [tags]="fact.tags"
      (onTagClick)="tagClicked($event)"></core-tag-list>
    <i *ngIf="!fact.tags.length">(No tags)</i>
  </div>
</div>