
:host {
    .title {
        margin-bottom: 10px;
    }

    .definition {
        /deep/ markdown {
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
    
            ul {
                margin-top: 5px;
                margin-bottom: 5px;
            }
    
            p + ul {
                margin-top: 0px;
            }
        }
    }

    ul.footnotes {
        list-style-type: none;
        padding-left: 0;
        font-size: 0.8em;

        li {
            /deep/ a {
                font-style: italic;
                color: rgba(0,0,0,.87);
            }
        }

        li.source {

            .index {
                margin-right: 3px;
            }

            .fact {
                position: relative;

                a {
                    font-style: normal;
                }

                .logo-container {
                    position: absolute;
                    right: -20px;
                    bottom: -2px;
                }
            }
        }

        li.notes {
            /deep/ markdown {
                display: inline-block;
                p {
                    margin: 0;
                }
            }
        }
    }
}