<div>
  <h3 class="title">
    <span *ngIf="fact.titleLocalized">{{ fact.titleLocalized }}</span>
    <i *ngIf="!fact.titleLocalized">(Add a title)</i>
  </h3>
  <div class="definition">
    <markdown *ngIf="citedDefinitionMarkdown">{{ citedDefinitionMarkdown }}</markdown>
    <i *ngIf="!citedDefinitionMarkdown">(Add a definition)</i>
  </div>
  <ul class="footnotes">
    <li class="source" *ngFor="let source of citedSources; let i = index;">
      <span *ngIf="source.type === 1">
        <span class="index">{{ i + 1 }}</span>
        <span *ngIf="source.description">
          <span>{{ source.description }}</span>
        </span>
        <a class="url" *ngIf="source.url" href="{{ source.url }}">{{ getUrl(source.url) }}</a>
      </span>
      <span *ngIf="source.type === 2" class="fact">
        <span class="index">{{ i + 1 }}</span>
        <a [href]="factLinkResolver.resolve(source.factId)">
          <span>{{ source.factTitle }}</span>
        </a>
        <span class="logo-container"><core-logo [widthPixels]="15"></core-logo></span>
      </span>
      <span *ngIf="source.type === 5 || source.type === 4" class="citation">
        <span class="index">{{ i + 1 }}</span>
        <markdown *ngIf="source.type === 4">
          <span>{{ source.citation }}</span>
        </markdown>
        <a *ngIf="source.type === 5" [href]="'https://doi.org/' + source.doi">
          <span>{{ source.citationFromDoi }}</span>
        </a>
        <markdown class="notes" *ngIf="source.notesMarkdown">{{ source.notesMarkdown }}</markdown>
      </span>
    </li>
    <li class="notes" *ngFor="let note of notes; let i = index;">
      <markdown>
        <span *ngFor="let j of getNotesSymbolIterator(i)">&#8224;</span>
        <span>{{ note }}</span>
      </markdown>
    </li>
  </ul>
  <div class="actions">
    <div class="tags-list-container">
      <core-tag-list
        *ngIf="fact.tags.length"
        [tags]="fact.tags"
        (onTagClick)="tagClicked($event)"></core-tag-list>
      <i *ngIf="!fact.tags.length">(No tags)</i>
    </div>
    <div class="fact-controls-container">
      <div class="fact-controls">
        <div class="fact-control" *ngIf="canEdit" (click)="editClicked(fact)">
          <md-icon>mode_edit</md-icon>
        </div>
        <div class="fact-control" (click)="linkClicked(fact)">
          <md-icon>link</md-icon>
        </div>
        <div class="fact-control" (click)="flagClicked(fact)">
          <md-icon>flag</md-icon>
        </div>
        <div class="fact-control" (click)="voteClicked(fact)">
          <md-icon>thumb_up</md-icon>
        </div>
      </div>
    </div>
  </div>
</div>