
:host {
    .title {
        margin-bottom: 10px;
    }

    ul.footnotes {
        list-style-type: none;
        padding-left: 0;
        font-size: 0.8em;

        li {
            /deep/ a {
                font-style: italic;
                color: rgba(0,0,0,.87);
            }
        }

        li.notes {
            /deep/ markdown {
                display: inline-block;
                p {
                    margin: 0;
                }
            }
        }
    }
}