@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

:host {
    padding-bottom: 20px;

    .title {
        margin-bottom: 10px;
    }

    .definition {
        /deep/ markdown {
            p {
                margin-top: 5px;
                margin-bottom: 5px;
                word-break: break-word;
            }
    
            ul {
                margin-top: 5px;
                margin-bottom: 5px;
            }
    
            p + ul {
                margin-top: 0px;
            }
        }
    }

    ul.footnotes {
        list-style-type: none;
        padding-left: 0;
        font-size: 0.8em;

        li {
            /deep/ a {
                color: rgba(0,0,0,.87);
            }
        }

        li.source {

            .index {
                margin-right: 3px;
            }

            .fact {
                position: relative;

                .logo-container {
                    position: absolute;
                    right: -20px;
                    bottom: -2px;
                }
            }

            .citation {
                /deep/ markdown {
                    display: inline-block;
                    p {
                        margin: 0;
                        word-break: break-word;
                    }

                    &.notes {
                        display: block;
                    }
                }
            }
        }

        li.notes {
            /deep/ markdown {
                display: inline-block;
                p {
                    margin: 0;
                    word-break: break-word;
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        
        .tag-list-container {
            flex: 1;
        }

        .fact-controls-container {
            display: flex;            
            justify-content: flex-end;
            width: 150px;

            .fact-controls {
                display: flex;
                margin-top: 5px; // Align with tag text
                opacity: 0;

                .fact-control {
                    &:not(:last-child) {
                        padding-right: 10px;
                    }

                    color: $medium-lobe-color;
                    cursor: pointer;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        @include phone() {
            display: block;

            .fact-controls-container {
                margin-top: 10px;
                display: block;

                .fact-controls{
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        .actions {
            .fact-controls-container {
                .fact-controls {
                    opacity: 1;
                }   
            }
        }
    }
}