<div>
  <h3 class="title">
    <span *ngIf="fact.title">{{ fact.title }}</span>
    <i *ngIf="!fact.title">(Add a title)</i>
  </h3>
  <div class="definition">
    <span *ngIf="fact.definition">{{ fact.definition }}</span>
    <i *ngIf="!fact.definition">(Add a definition)</i>
  </div>
  <ul class="sources">
    <li class="source" *ngFor="let source of fact.sources; let i = index;">
      <span>{{ i + 1 }}.</span>
      <span *ngIf="source.description">{{ source.description }}</span>
      <a class="url" *ngIf="source.url" href="{{ source.url }}">{{ source.url }}</a>
    </li>
  </ul>
  <div class="tags-list-container">
    <app-tag-list
      *ngIf="fact.tags.length"
      [tags]="fact.tags"
      (onTagClick)="tagClicked($event)"></app-tag-list>
    <i *ngIf="!fact.tags.length">(No tags)</i>
  </div>
</div>